#env DYLD_INSERT_LIBRARIES=/usr/lib/libgmalloc.dylib
#env MALLOC_PERMIT_INSANE_REQUESTS=1
#set env MallocStackLogging 1
command alias nodos memory read -s 16 -f int64_t -c 31 me-> odes

settings set target.run-args < caca.txt
#settings set target.run-args < caca_grande8.txt
